{% extends 'base.html.twig' %}

{% block title %}Modifier : {{ article.nom }}{% endblock %}

{% block body %}

<h1 class="mb-4">Modifier l’article</h1>

{{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.prix) }}

    {# AJOUT catégorie ici #}
    {{ form_row(form.category) }}

    {# bouton EN DERNIER #}
    <div class="mt-3">
        {{ form_row(form.save) }}
    </div>

{{ form_end(form) }}

<p class="mt-3">
    <a href="{{ path('article_show', {id: article.id}) }}" class="btn btn-link">
        Annuler
    </a>
</p>

{% endblock %}
